/* Add mobile styles for the component here.  */
.item-drop-down{
    font-size: 20;
    color: red;
    text-align: center;
    padding: 4;
    height: 50;
    width: auto;
    //border-width: 0.5;
    //border-color:blue;
    //background-color: transparent;
    background-color: lightgreen;
}