<app-actionbar [pageName]="'Station2'"></app-actionbar>

<StackLayout>
    <FlexboxLayout justifyContent="flex-end" width="100%" id="addButtonContainer"
    left="0">
    <Button class="add-button" row="0" col="1" text="+" (tap)="addNewStation()"></Button>
    </FlexboxLayout>

</StackLayout>
     
    <GridLayout >		
               <ListView  class="list-group"   [items]="menuCategoryList">
                <ng-template let-item="item" let-i="index" >
                    <GridLayout class="list-group-item"  rows="auto" columns="*,*,*,*,*">
                        <!-- <Image row="0" col="0" [src]="item.src" class="thumb"></Image> -->
                        <Label row="0" col="0" fontSize ="20" text="Cooking Station:"   ></Label>
                        
                        <DropDown 
                              id="{{'dd'+i}}"
                              hint="select station"
                              class="item-drop-down"
                              [items]="stationListPicker"
                              (selectedIndexChanged)="onchange($event)"
                              (opened)="onopen()"
                              (closed)="onclose()"
                              row="0"
                              col="1"
                              ></DropDown>

                          <Label row="0" col="2" fontSize ="40" text="&#xf0c1;" class="fa"></Label>
                      
                          <Label row="0" col="3" fontSize ="20" [text]="item"   ></Label>
                       
                            <Button  row ="0" col="4"  class="btn btn-primary"  text="customize" width="100" height="75" (tap)="customize($event)"></Button>
                              
                        <ng-container *ngIf="isExpanded">
                                
                         </ng-container>
                    </GridLayout>
                </ng-template>
            </ListView>
            </GridLayout>
            
   
<!--       
                <ng-container *ngIf="isExpanded">
                        
                     
                </ng-container> -->


                            
                
      