<app-actionbar [pageName]="'Station2'"></app-actionbar>

<StackLayout>
    <GridLayout >		
               <ListView  class="list-group"   [items]="menuListByCategory">
                <ng-template let-item="item">
                    <GridLayout class="list-group-item"  rows="*,*,*,*" columns="300, *,auto,*">
                        <!-- <Image row="0" col="0" [src]="item.src" class="thumb"></Image> -->
                        <Label row="0" col="0" fontSize ="30"[text]="item.name"   id="{{'txt_'+i}}" ></Label>
                        <Label row="0" col="1" fontSize ="40" text="&#xf0c1;" class="fa"></Label>
                        
                        <DropDown #dd
                             class="item-drop-down"
                              [items]="stationListPicker"
                              [(ngModel)]="selectedIndex"
                              (selectedIndexChanged)="onchange($event)"
                              (opened)="onopen()"
                              (closed)="onclose()"
                              row="0"
                              col="2"
                              ></DropDown>
                        <Button  row ="0" col="3"  class="btn btn-primary"  text="customize" width="100" height="75" (tap)="customize($event)"></Button>
                   
                        <ng-container *ngIf="isExpanded">
                                
                         </ng-container>
                    </GridLayout>
                </ng-template>
            </ListView>
            </GridLayout>
            
   
      
                <ng-container *ngIf="isExpanded">
                        
                     
                </ng-container>


                            

       </StackLayout>
    

