<app-actionbar [pageName]="'VIEW KOT'"></app-actionbar>
<StackLayout>
<!-- The [columns] bit here makes this app a two-column layout on tablets, and a one-column layout on phones -->S<
	

		<SegmentedBar #tab  [items]="orderTypeSegmentBarList"  [(ngModel)]="selectedIndex" (selectedIndexChange)="onSelectedSegment($event)" ></SegmentedBar>
    


<StackLayout orientation="vertical">
		<GridLayout [columns]="isTablet ? '*, 3*' : '*'">
			
			<GridLayout col="0" class="left-column" (loaded)="onLoaded($event)">		
			<!-- The ListView shows on both tablets and phones. On tablets the list occupies the left-hand side
			of the screen, and one phones the ListView takes up the whole screen. -->
	
				<ListView class="list-group"  [items]="orderList" (itemTap)="onSelectKotItem($event)">
				<ng-template let-item="item">
					<GridLayout class="list-group-item"  rows="*,*,*,*" columns="auto, *">
						<!-- <Image row="0" col="0" [src]="item.src" class="thumb"></Image> -->
						<Label row="0" col="1" [text]="item.type"></Label>
						<Label row="1" col="1" [text]="item.billTo['name']"></Label>
						<Label row="3" col="1" [text]="item.status"></Label>
						<Label row="2" col="1" text="{{ item.updatedDate | date:'medium' }}"></Label>
					</GridLayout>
				</ng-template>
			</ListView>

			<!-- customers: CustomerModel[];
			type: string;
			billTo: {'name': string;}
			shipBy: {'operation': string;}
			shipTo: {'name': string;}
			items: MenuModel[];  //  name , quantity , price
		
			//#region List
			status: string;
			createdDate: Date;
			updatedDate: Date;
			uid: string; -->

		</GridLayout>
		
		
		
			<StackLayout col="1" class="p-20" >
		   	<ng-container  *ngIf="isTablet"  >
				 <!-- <ListView class="list-group" [items]="selectedOrder.items" (itemTap)="select($event)">  -->
	
				<!-- <ng-template let-item="item">  -->
					<!-- <GridLayout class="list-group-item" rows="*,*,*,*,*" columns="auto, *">
						
						<Label row="0" col="0" text="ID:"></Label>
						<Label row="1" col="0" text="Price:"></Label>
						<Label row="2" col="0" text="QTY:"></Label>
						<Label row="3" col="0" text="Total"></Label>
						<Label row="0" col="1" [text]="item.uid"></Label>
						<Label row="1" col="1" [text]="item.price"></Label>
						<Label row="2" col="1" [text]="item.quantity"></Label>
						<Label row="3" col="1" text="{{ item.quantity*item.price}}"></Label>
					
					</GridLayout> -->
					<ng-container *ngFor="let item of selectedOrder.items">
					<StackLayout  id="item4" orientation="vertical" class="owe-list-item" width="100%">
					<GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="owe-main-info">
						<Image row="0" col="0" src="~/assets/food-and-beverage-category.png"
							class="owe-category-icon"
							verticalAlignment="top"></Image>
						<StackLayout row="0" col="1" orientation="vertical"
							class="owe-info-container">
							<Label class="owe-title" text="{{item.name}}"></Label>
							<Label class="owe-ammount" text="x {{item.quantity}}"></Label>
							<GridLayout columns="auto,auto,auto,auto"
								rows="auto" width="100%">
								<!-- <Label text="You owe " row="0" col="0"></Label>
								<Label text="Yura" class="lender-name"
									row="0" col="1"></Label>
								<Label text=" : " row="0" col="2"></Label> -->
								<!-- <Label text="PRICE {{item.price}}" class="owe-ammount"
									row="0" col="3"></Label> -->
									<Label text="PRICE {{item.price}}" class="owe-ammount"
									row="0" col="0"></Label>
							</GridLayout>
						</StackLayout>
						<!-- <Label verticalAlignment="top" row="0" col="2"
							text="Price {{item.price}}" class="pay-amount"></Label> -->
					</GridLayout>
					<GridLayout columns="auto, *, auto" rows="auto"
						width="100%" height="auto" class="owe-secondary-info">
						<!-- <Label row="0" col="0" text="23 Oct" class="time-information"></Label> -->
						<GridLayout row="0" col="2" columns="auto, auto, auto"
							rows="auto">
							<Label row="0" col="0" text="Total:" class="pay-amount"></Label>
							<Label row="0" col="1" text="{{item.quantity*item.price}}" class="pay-amount"></Label>
							<Label row="0" col="2" text="{{item.currency}}" class="pay-amount"></Label>
							<!-- <GridLayout row="0" col="2" columns="auto,auto"
								rows="auto" width="100%" class="debtor-list">
								<StackLayout row="0" col="0"
									orientation="vertical" class="debtor-list-item">
									<Image row="0" col="0" src="~/assets/me.png"
										class="debtor-list-item-image"></Image>
								</StackLayout>
								<StackLayout row="0" col="1"
									orientation="vertical" class="debtor-list-item">
									<Image row="0" col="0" src="~/assets/yura.png"
										class="debtor-list-item-image"></Image>
								</StackLayout>
							</GridLayout> -->
						</GridLayout>
					</GridLayout> 
					<Label class="divider" text=""></Label>
				</StackLayout>
			</ng-container>

				<!-- </ng-template> 
		
			 </ListView> 
	 -->


			


				</ng-container> 
			</StackLayout>
		
		
		</GridLayout>


	

</StackLayout>

</StackLayout>