/* Add mobile styles for the component here.  */
.left-column {
    border-color: #d3d3d3;
    border-right-width: 1;
}

.cardStyle {
    background-color: #3489db;
    color: #fff;
  }
/*
Card Layout Menu Items
*/
.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 15 15 0;
}
.card-layout {
    padding: 20;
}
.card-layout .h1 {
    margin-bottom: 15;
}
