/* Add mobile styles for the component here.  */
.left-column {
    border-color: #d3d3d3;
    border-right-width: 1;
}

.cardStyle {
    background-color: #3489db;
    color: #fff;
  }
/*
Card Layout Menu Items
*/
.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 15 15 0;
}
.card-layout {
    padding: 20;
}
.card-layout .h1 {
    margin-bottom: 15;
}


.divider {
    height: 15;
    background-color: #e8e7e7;
}


.owe-list-item {
    background-color: #fff;
}

.owe-main-info {
    padding: 10 15;
}

.owe-category-icon {
    width: 45;
    height: 45;
    margin-right: 15;
}

.owe-info-container {
    color: #acacac;
    font-size: 13;
}

.owe-title {
    font-weight: 600;
    margin-bottom: 5;
    color: #000;
    font-size: 15;
}

.lender-name,
.debtor-name {
    font-weight: 600;
    color: #8f91de;
}

.owe-ammount {
    font-weight: 600;
    color: #f67979;
}

.pay-amount {
    color: #8f91de;
    font-size: 15;
}