.circle-btn
{
    //width: 40px;
    height:40px;
   // border-radius:50px;
   // border-width:2;
    color:white;
    text-align: center;
    background-color:green;
   //  font-family: FontAwesome;
     
}