
<div class="card mb-3">
  <div class="card-header">Ingredient</div>
  <table class="card-body table">
      <thead class="text-center">
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <!-- <th>Category</th>
        <th>SKU</th> -->
        <th>QTY</th>
        <th>QTY UNIT</th>
        
       
      </tr>
      </thead>
      <tbody>
          <tr class="table-active text-center" *ngFor="let item of ingredientList; let i=index">
              <th scope="row">{{i+1}}</th>
              <th>{{ item.uid }}</th>
              <th>{{ item.name }}</th>
              <!-- <th>{{ item.category }}</th> -->
              <!-- <th>{{ item.sku }}</th> -->
              <th>{{ item.quantity }}</th>
              <th>{{ item.quantityUnit }}</th>
              <th><button type="button" class="mb-1 btn btn-sm btn-danger" value="{{item}}" (click)="removeIngredient($event)">X</button></th>
 
        </tr>

          <!-- <tr class="table-active">
              <th scope="row">0</th>
              <td>ID</td>
              <td>Name</td>
              <td>Category</td>
              <td>SKU</td>
              <td>QTY</td>
              <td>QTY UNIT</td>
          </tr> -->
     
      </tbody>
  </table>
</div>
