<div class="row text-center">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary mb-4 mt-4" id="dropdownCategoryList" ngbDropdownToggle>Select Category</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem *ngFor="let item of menuCategoryList; let i=index" value="{{item}}" (click)="loadMenuByCategory($event.target.value)">{{item}}</button>
      </div>
    </div>
  </div>

  <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-danger mb-4 mt-4" id="dropdownMenuList" ngbDropdownToggle>Select Existing Menu</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let item of menuListByCategory; let i=index" value="{{item.uid}}" (click)="showMenuDetail($event.target.value)">{{item.name}}</button>
        </div>
      </div>
    </div>
 </div>
 
 
  

<h1 class="text-center">Create Menu</h1>

<div class= "row">

<div class="col"> 
  <div class="form-group border border-light p-5">
    <p class="h4 mb-4">Create Menu</p>
     <!-- Menu Name --> 
     <!-- uid: string;
     name: string;
     productCode: number;
     category: string;
     quantity: string;
     quantityUnit: string;
     lifetime: string; // large
     lifetimeUnit: number;
     items: Array<IngredientModel>;
     price: number; -->

 
    <!-- <input   [(ngModel)]="newMenu" (keyup.enter)="searchMenuItem($event.target.value)" type="text" class="form-control mb-4" placeholder="Part Number"> -->
    <input   [(ngModel)]="newMenu.name" type="text" class="form-control mb-4" placeholder="Menu Name">
    <input   [(ngModel)]="newMenu.productCode" type="text" class="form-control mb-4" placeholder="Product Code">
    <input   [(ngModel)]="newMenu.category" type="text" class="form-control mb-4" placeholder="Menu Category">
    <input   [(ngModel)]="newMenu.quantity" type="text" class="form-control mb-4" placeholder="QTY">
    <input   [(ngModel)]="newMenu.quantityUnit" type="text" class="form-control mb-4" placeholder="QTY Unit">
    <input   [(ngModel)]="newMenu.lifetime" type="text" class="form-control mb-4" placeholder="Life Time">
    <input   [(ngModel)]="newMenu.lifetimeUnit" type="text" class="form-control mb-4" placeholder="Life Time Unit">
    <input   [(ngModel)]="newMenu.price" type="text" class="form-control mb-4" placeholder="Price">

   <div class="text-center mx-auto">
      <button type="button" class="mr-3 btn btn-primary" (click)="createNewMenu()">Create</button>
      <button type="button" class="mr-3 btn btn-success" (click)="updateMenu()">Update</button>
      <button type="button" class="mr-3 btn btn-danger" (click)="deleteMenu()">Delete</button>
    <!-- <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary mb-4" id="dropdownBasic1" ngbDropdownToggle>Select Station</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngFor="let item of stationList; let i=index" value="{{item.name}}" (click)="setStation($event.target.value)">{{item.name}}</button>
            </div>
          </div>
        </div>
        <div class="col">
          <input   [(ngModel)]="newMenu.station" type="text" class="form-control mb-4" placeholder="Station Name" >
        </div>
       </div> -->
    

    </div>  
  </div> 

</div>

<div class="col">
  <div class="form-group border border-light p-5">
  <h3>Recipe & Ingredients</h3>   
  <!-- "name": "น้ำซุปต้มยำน้ำใส",
            "quantity": 300,
            "quantityUnit": "มล" -->
          <div class="col"> <input   [(ngModel)]="ingredient.name" type="text" class="form-control mb-4" placeholder="Ingredient Name"></div>
          <div class="col"> <input   [(ngModel)]="ingredient.quantity" type="number" class="form-control mb-4" placeholder="QTY"></div>
          
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary mb-4" id="dropdownCategoryList" ngbDropdownToggle>QTY Unit</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let item of ingredientUnits; let i=index" value="{{item}}" (click)="setUnit($event.target.value)">{{item}}</button>
              </div>
            </div>
          </div>

          <!-- <div class="col"> <input   [(ngModel)]="ingredient.quantityUnit" type="text" class="form-control mb-4" placeholder="QTY Unit"></div> -->
          <div class="col">
          <button type="button" class="mr-1 btn btn-success " (click)="addIngredient()">Add</button>
          <button type="button" class="mr-1 btn btn-danger" (click)="removeIngredient()">Remove</button>
          <button type="button" class="mr-1 btn btn-primary" (click)="clearIngredient()">Clear</button>
          </div>
  </div>
 
  <!-- <ul><li *ngFor="let p of newMenu.items">{{p.name}}</li></ul>  -->
  <div class="form-group border border-light p-5">
      <h3>Select Station</h3>   
                <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary mb-4" id="dropdownCategoryList" ngbDropdownToggle>Station List</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let item of ingredientUnits; let i=index" value="{{item}}" (click)="setUnit($event.target.value)">{{item}}</button>
                  </div>
                </div>
              </div>



              <div class="text-center mx-auto">
                  <button type="button" class="mr-3 btn btn-primary" (click)="createNewMenu()">Create</button>
                  <button type="button" class="mr-3 btn btn-success" (click)="updateMenu()">Update</button>
                  <button type="button" class="mr-3 btn btn-danger" (click)="deleteMenu()">Delete</button>
                  </div>

                  
      </div>
     
</div>

</div>




<div class="container">
  <app-ingredient [ingredientList]="newMenu.items"></app-ingredient>
  </div>