<h4 class="text-center">
  Ingredient
</h4>
<div class="text-center">
    <table border="1" style="width: 100%;">
        <tr style="background-color: #CCC">
          <td>Name</td>
          <td>Category</td>
          <td>SKU</td>
          <td>QTY</td>
          <td>QTY UNIT</td>
        </tr>
    <tr *ngFor="let item of ingredient; let i=index">
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.sku }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.quantityUnit }}</td>
      </tr>
      </table>

 
</div>
