/* Add mobile styles for the component here.  */
Label
{
    font-size: 30;  
    color:black;  


}

.ok-btn 
{
     background-color:green;
     font-family: FontAwesome;
     font-size: 40;
     border-radius:50;
}

.cancle-btn 
{
     background-color:green;
     font-family: FontAwesome;
     font-size: 40;
     border-radius:50;
}
