<app-actionbar-helper [pageName]="page"></app-actionbar-helper>
<!--
<StackLayout>
<Label [text]="caption" textWrap="true" verticalAlign="center"  class="h2 p-15 text-center"></Label>



<TabView>
    <ng-container *ngFor="let tab of menuCategoryList">
               
        <StackLayout *tabItem="{title: tab, iconSource: 'res://icon'}">
        <Label text="First TabView item with Icon Font" textAlignment="center" textWrap="true" class="h2 m-x-auto" color="blue"></Label>
        <Label text="&#xe913;" textWrap="true" class="h2 m-x-auto" color="blue"></Label>
        
        </StackLayout>
    </ng-container>
</TabView>

</StackLayout>
-->
<!-- <StackLayout>
     
       

    
        <ScrollView class="anim-images" orientation="horizontal"> 
                 <StackLayout orientation="horizontal" class=""> 
                    <GridLayout *ngFor="let item of orderTypeSegmentBarList; let i = index" rows="auto" height="100"
                         columns="*" (tap)="selectCategory(i)">
                         <StackLayout orientation="horizontal" class=""> 
                         <Label [text] = "item" (tap)="onTapIncrease($event)" ></Label>
                         <FormattedString>
                                <Span text="&#xf068;"></Span>
                        </FormattedString> 
                         </StackLayout>
                    </GridLayout>
                  </StackLayout>  
        </ScrollView> 
        </StackLayout> 
      -->
   
        <!--  Load Menu Items By Menu Category -->
     
 
 

<StackLayout orientation="vertical">
    <SegmentedBar #tab  [items]="orderTypeSegmentBarList"  [(ngModel)]="selectedIndex" (selectedIndexChange)="onSelectedIndexChange($event)" ></SegmentedBar>
    

    <GridLayout [visibility]="selectedIndex === 0 ? 'visible' : 'collapsed'" backgroundColor="white">
      <!-- <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center"></Label>
       -->
       <StackLayout orientation="vertical" verticalAlignment="center">
          <Label horizontalAlignment="center" text="Zone1" fontSize="30" color ="blue" textWrap="true"></Label> 
  
          <!-- Dine Table -->
          <ng-container *ngFor="let table of tableList; let i = index">
            
            <StackLayout   orientation="vertical" verticalAlignment="center"  >
              <Label horizontalAlignment="center" [text]="table.TableID"  textWrap="true"></Label> 
                  
              <Image id="{{table.TableID}}"  class="table" width="100" height="100" horizontalAlignment="center" verticalAlignment="top" (tap)="loadMenu($event)" (pan)="onPan($event)" src="~/assets/images/restaurant-circle.png"></Image>

              <app-numuric-button (numberOfCustomer)="getNumberOfCustomer($event)" [tableObj]="table" ></app-numuric-button>
              

          </StackLayout>
        </ng-container>
        </StackLayout>   

    </GridLayout>

  <GridLayout [visibility]="selectedIndex === 1 ? 'visible' : 'collapsed'" backgroundColor="white">
   <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center"></Label>
    <app-menu></app-menu>
  </GridLayout>

<GridLayout [visibility]="selectedIndex === 2 ? 'visible' : 'collapsed'" backgroundColor="white">
   <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center"></Label>
   <app-menu></app-menu>
</GridLayout>

<GridLayout [visibility]="selectedIndex === 3 ? 'visible' : 'collapsed'" backgroundColor="white">
   <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center"></Label>
</GridLayout>
</StackLayout>

