
<StackLayout hideActionBar>

    <!--  Show Tab Menu Category -->
     <ScrollView class="anim-images" orientation="horizontal"> 
             <StackLayout orientation="horizontal" borderWidth="1"> 
                           
                 <GridLayout *ngFor="let imageString of images; let i = index" rows="auto"
                     columns="*" (tap)="selectCategory(i)">
                     <StackLayout >
                     <Label [text]="menuCategoryList[i]" fontSize="20" color="blue" horizontalAlignment="center" ></Label>
                     <Image class="card-img-thumb" row="0" col="0" [src]="imageString"
                         stretch="aspectFill">
                     </Image>
                     </StackLayout>
                 </GridLayout>
             
              </StackLayout>  
    </ScrollView> 
    <Label [text]= "categorySelected" fontSize='40' color="blue" verticalAlignment="center" horizontalAlignment="center"> </Label>
    <Label text="Table :{{tableID}}" fontSize="20" color="black" verticalAlignment="top" horizontalAlignment="center" ></Label>
    <Label text="OrderType :{{orderType}}" fontSize="20" color="black" verticalAlignment="top" horizontalAlignment="center" ></Label>
    <Label text="Number Of Customer :{{numCustomer}}" fontSize="20" color="black" verticalAlignment="top" horizontalAlignment="center" ></Label>
          
    <StackLayout  orientation="horizontal"  horizontalAlignment="center">   
               
     <Button  class= "ok-btn" horizontalAlignment="center" verticalAlignment="center" color="white"    (tap)="confirm()">
         <FormattedString>
             <Span text="&#xf00c;"></Span>
         </FormattedString>
     </Button>
    
     <Button  class= "cancle-btn" horizontalAlignment="center"  verticalAlignment="center" color="red"   (tap)="cancle()">
         <FormattedString>
             <Span text="&#xf113;"></Span>
         </FormattedString>
     </Button>
     </StackLayout>  


 <!--  Load Menu Items By Menu Category -->
 <!-- <app-menu-by-category [menuListByCategory]="menuListByCategory" [image]='imageSelected'></app-menu-by-category> -->
     <!-- <app-menu-items (selectedMenu) = "getSelectedMenu($event)"  [tableID]="tableID" [menuListByCategory]="menuListByCategory" [image]="imageSelected"  ></app-menu-items> -->
<app-menuitems (selectedMenu) = "getSelectedMenu($event)"  [tableID]="tableID" [menuListByCategory]="menuListByCategory" [image]="imageSelected"></app-menuitems>
</StackLayout>