/* Add mobile styles for the component here.  */
AbsoluteLayout
{
    height: 100%;
    border-color: green;
    border-width: 5;

}

Label
{
    
    color:black;    
    font-size: 20;
    text-align: center;
}

#i1
{  
    background:red;

}
#i2{
    background: green;
}
#i3{
    background:yellow;
}
