<h1>
  Master of Kitchen v0.1
</h1>
<hr>

<h2>Menu</h2>

<div>
<table border="1" style="width: 100%;">
  <tr style="background-color: #CCC">
    <td>ID</td>
    <td>Name</td>
    <td>Type</td>
    <td>Price</td>
  </tr>

  <tr *ngFor="let menu of MenuInformation">
    <td>{{ menu.partNumber }}</td>
    <td>{{ menu.name }}</td>
    <td>{{ menu.category }}</td>
    <td>{{ menu.price }}</td>
  </tr>
</table>
</div>


<!--
<div class="form-group w-50 justify-content-center">
<form class="text-center border border-light p-5">

  
  <input #box type="text" class="form-control" [(ngModel)]= "menuID" placeholder="Menu ID" aria-label="Username" aria-describedby="basic-addon1">

   <button type="button" class="btn btn-primary" (click)="getMenubyID(box.value)">Create Menu</button>

   <label>{{menuID}}</label>

</form>
</div>
-->

<div class="form-group w-50 justify-content-center border border-light p-5">

  <p class="h4 mb-4">Create Menu</p>



  <!-- Menu Name -->
  <input   [(ngModel)]="menuItem.id" type="text" class="form-control mb-4" placeholder="Menu ID">
  <input   [(ngModel)]="menuItem.name" type="text" class="form-control mb-4" placeholder="Menu Name">
  <input   [(ngModel)]="menuItem.category" type="text" class="form-control mb-4" placeholder="Menu Category">
  <input   [(ngModel)]="menuItem.cookingTime" type="text" class="form-control mb-4" placeholder="Cooking Time">
  <input   [(ngModel)]="menuItem.descripton" type="text" class="form-control mb-4" placeholder="Menu Description">
  <input   [(ngModel)]="menuItem.price" type="text" class="form-control mb-4" placeholder="Menu Price">
 
  <button type="button" class="mr-3 btn btn-primary" (click)="createNewMenu(menuItem)">Create Menu</button>
  <button type="button" class="mr-3 btn btn-danger" (click)="deleteMenuItem(menuItem.id)">Delete Menu</button>


  
  <!--
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Menu Category</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button #selectedMenuCategory ngbDropdownItem *ngFor="let menu of MenuInformation" (click)="setMenuCategory('test')">{{menu.category}}</button>
         <label>{{selectedMenuCategory}}</label>
        </div>
      </div>
    </div>
</div>
-->

   

</div>