
<h2>Menu</h2>

<div>
<table border="1" style="width: 100%;">
  <tr class ="text-center" style="background-color:yellow">
    <td>ID</td>
    <td>PartNumber</td>
    <td>Name</td>
    <td>Category</td>
    <td>station</td>
    <td>sku</td>
    <td>price</td>    
    <td>createdDate</td>
    <td>updatedDate</td>
    <td>version</td>
  </tr>

  <ng-container *ngFor="let menu of MenuInformation">  
    <tr class="text-center" style="background-color: lightgreen">
    <td>{{ menu.uid}}</td>
    <td>{{ menu.partNumber}}</td>
    <td>{{ menu.name}}</td>
    <td>{{ menu.category}}</td>
    <td>{{ menu.station}}</td>
    <td>{{ menu.sku}}</td>
    <td>{{ menu.price}}</td>    
    <td>{{ menu.createdDate}}</td>
    <td>{{ menu.updatedDate}}</td>
    <td>{{ menu.v}}</td>
    </tr> 
    <!-- <tr style="background-color: lightblue">
        
        <td>Name</td>
        <td>Category</td>
        <td>SKU</td>
        <td>QTY</td>
        <td>QTY Unit</td>
    </tr>
   
    <tr  *ngFor="let item of menu.items">
       
        <td>{{ item.name}}</td>
        <td>{{ item.category}}</td>
        <td>{{ item.sku}}</td>
        <td>{{ item.quantity}}</td>
        <td>{{ item.quantityUnit}}</td>
    </tr> -->

</ng-container>

</table>


</div>

