<app-actionbar [pageName]="'Station'"></app-actionbar>

<StackLayout>
    <GridLayout >		
            <!-- The ListView shows on both tablets and phones. On tablets the list occupies the left-hand side
            of the screen, and one phones the ListView takes up the whole screen. -->
    
                <ListView  class="list-group"   [items]="menuCategoryList">
                <ng-template let-item="item">
                    <GridLayout class="list-group-item"  rows="*,*,*,*" columns="300, *,*,*">
                        <!-- <Image row="0" col="0" [src]="item.src" class="thumb"></Image> -->
                        <Label row="0" col="0" [text]="item"   id="{{'txt_'+i}}" fontsize="25"></Label>
                        <Label row="0" col="1" text="&#xf0c1;" class="fa"></Label>
                        
                       <ListPicker row="0" col="2"  horizontal="center" [items]="stationListPicker" fontsize="25"  selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker> -->
                        <Button  row ="0" col="3"  class="btn btn-primary"  text="customize" width="100" height="75" (tap)="customize($event)"></Button>
                   
                        <ng-container *ngIf="isExpanded">
                                
                         </ng-container>
                    </GridLayout>
                </ng-template>
            </ListView>
            </GridLayout>
            
    <!-- 
        <ListView   [items]="menuCategoryList" class="list-group" (itemTap)="select($event)">
        <ng-template  let-item="item" let-i="index">
              
            <GridLayout columns="300, 100, auto ,auto "  height="100" horizontalAlignment="center">
               
                    <Label col="0" id="{{'txt_'+i}}" [text]="item"  fontSize="30"  class="mr-10" ></Label>
               
                    <Label col="1" text="&#xf0c1;" fontSize="30" color="black" class="fa"></Label>    
               
                    <ListPicker col="2" horizontal="center" [items]="stationListPicker" fontSize ="30" width="150" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker>
                  
                    <Button  col="3"  class="btn btn-primary" width="100" height="70" text="customize" (tap)="customize($event,'txt_'+i)"></Button>
               
            </GridLayout>
        
        </ng-template>
        </ListView> -->
    
      
                <ng-container *ngIf="isExpanded">
                        
                </ng-container>


                            

       </StackLayout>
    